# Day 3 Exercise - Pandas Basics

16.03.2022

Kriti Amin

## Load data file

In [1]:
# Import module
import pandas as pd

# path to file
path = 'C:\\Users\\kriti\\Desktop\\BioDB\\biodb-2022-teaching\\data\\tables\\pandas\\hgnc\\hgnc_all.tsv.zip'

In [2]:
# Load data
hgnc = pd.read_csv(path, sep='\t', low_memory=False)
hgnc

,HGNC ID,Approved symbol,Approved name,Status,Previous symbols,Alias symbols,Chromosome,Accession numbers,RefSeq IDs,Locus type,...,RefSeq(supplied by NCBI),UniProt ID(supplied by UniProt),Ensembl ID(supplied by Ensembl),Vega ID(supplied by Vega),UCSC ID(supplied by UCSC),Mouse genome database ID(supplied by MGI),Rat genome database ID(supplied by RGD),LNCipedia ID (supplied by LNCipedia),GtRNAdb ID (supplied by GtRNAdb),AGR HGNC ID (supplied by Alliance of Genomic Resources)
0,HGNC:5,A1BG,alpha-1-B glycoprotein,Approved,NaN,NaN,19q13.43,NaN,NM_130786,gene with protein product,...,NM_130786,P04217,ENSG00000121410,OTTHUMG00000183507,uc002qsd.5,MGI:2152878,RGD:69417,NaN,NaN,HGNC:5
1,HGNC:37133,A1BG-AS1,A1BG antisense RNA 1,Approved,"NCRNA00181, A1BGAS, A1BG-AS",FLJ23569,19q13.43,BC040926,NR_015380,"RNA, long non-coding",...,NR_015380,NaN,ENSG00000268895,OTTHUMG00000183508,uc002qse.3,NaN,NaN,A1BG-AS1,NaN,HGNC:37133
2,HGNC:24086,A1CF,APOBEC1 complementation factor,Approved,NaN,"ACF, ASP, ACF64, ACF65, APOBEC1CF",10q11.23,AF271790,NM_014576,gene with protein product,...,NM_001198818,Q9NQ94,ENSG00000148584,OTTHUMG00000018240,uc057tgv.1,MGI:1917115,RGD:619834,NaN,NaN,HGNC:24086
3,HGNC:6,A1S9T,"symbol withdrawn, see [HGNC:12469](/data/gene-...",Symbol Withdrawn,NaN,NaN,NaN,NaN,NaN,unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HGNC:7,A2M,alpha-2-macroglobulin,Approved,NaN,"FWP007, S863-7, CPAMD5",12p13.31,"BX647329, X68728, M11313",NM_000014,gene with protein product,...,NM_000014,P01023,ENSG00000175899,OTTHUMG00000150267,uc001qvk.2,MGI:2449119,RGD:2004,NaN,NaN,HGNC:7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47534,HGNC:25820,ZYG11B,"zyg-11 family member B, cell cycle regulator",Approved,ZYG11,FLJ13456,1p32.3,AB051517,NM_024646,gene with protein product,...,NM_024646,Q9C0D3,ENSG00000162378,OTTHUMG00000008938,uc001cuj.4,MGI:2685277,RGD:1307814,NaN,NaN,HGNC:25820
47535,HGNC:13200,ZYX,zyxin,Approved,NaN,NaN,7q34,X95735,NM_003461,gene with protein product,...,NM_001010972,Q15942,ENSG00000159840,OTTHUMG00000023822,uc003wcx.5,MGI:103072,RGD:620698,NaN,NaN,HGNC:13200
47536,HGNC:51695,ZYXP1,zyxin pseudogene 1,Approved,NaN,NaN,8q24.23,NaN,NaN,pseudogene,...,NG_044600,NaN,ENSG00000274572,OTTHUMG00000187758,NaN,NaN,NaN,NaN,NaN,HGNC:51695
47537,HGNC:29027,ZZEF1,zinc finger ZZ-type and EF-hand domain contain...,Approved,NaN,"KIAA0399, ZZZ4, FLJ10821",17p13.2,BC035319,NM_015113,gene with protein product,...,NM_015113,O43149,ENSG00000074755,OTTHUMG00000090741,uc002fxe.4,MGI:2444286,RGD:1311189,NaN,NaN,HGNC:29027
47538,HGNC:24523,ZZZ3,zinc finger ZZ-type containing 3,Approved,NaN,"DKFZP564I052, ATAC1",1p31.1,AL080063,NM_015534,gene with protein product,...,NM_001308237,Q8IYH5,ENSG00000036549,OTTHUMG00000009652,uc001dhq.4,MGI:1920453,RGD:1565468,NaN,NaN,HGNC:24523

## Return the first 2 rows

In [3]:
hgnc.loc[:1, :]

,HGNC ID,Approved symbol,Approved name,Status,Previous symbols,Alias symbols,Chromosome,Accession numbers,RefSeq IDs,Locus type,...,RefSeq(supplied by NCBI),UniProt ID(supplied by UniProt),Ensembl ID(supplied by Ensembl),Vega ID(supplied by Vega),UCSC ID(supplied by UCSC),Mouse genome database ID(supplied by MGI),Rat genome database ID(supplied by RGD),LNCipedia ID (supplied by LNCipedia),GtRNAdb ID (supplied by GtRNAdb),AGR HGNC ID (supplied by Alliance of Genomic Resources)
0,HGNC:5,A1BG,alpha-1-B glycoprotein,Approved,NaN,NaN,19q13.43,NaN,NM_130786,gene with protein product,...,NM_130786,P04217,ENSG00000121410,OTTHUMG00000183507,uc002qsd.5,MGI:2152878,RGD:69417,NaN,NaN,HGNC:5
1,HGNC:37133,A1BG-AS1,A1BG antisense RNA 1,Approved,"NCRNA00181, A1BGAS, A1BG-AS",FLJ23569,19q13.43,BC040926,NR_015380,"RNA, long non-coding",...,NR_015380,NaN,ENSG00000268895,OTTHUMG00000183508,uc002qse.3,NaN,NaN,A1BG-AS1,NaN,HGNC:37133

In [4]:
hgnc.head(2)

,HGNC ID,Approved symbol,Approved name,Status,Previous symbols,Alias symbols,Chromosome,Accession numbers,RefSeq IDs,Locus type,...,RefSeq(supplied by NCBI),UniProt ID(supplied by UniProt),Ensembl ID(supplied by Ensembl),Vega ID(supplied by Vega),UCSC ID(supplied by UCSC),Mouse genome database ID(supplied by MGI),Rat genome database ID(supplied by RGD),LNCipedia ID (supplied by LNCipedia),GtRNAdb ID (supplied by GtRNAdb),AGR HGNC ID (supplied by Alliance of Genomic Resources)
0,HGNC:5,A1BG,alpha-1-B glycoprotein,Approved,NaN,NaN,19q13.43,NaN,NM_130786,gene with protein product,...,NM_130786,P04217,ENSG00000121410,OTTHUMG00000183507,uc002qsd.5,MGI:2152878,RGD:69417,NaN,NaN,HGNC:5
1,HGNC:37133,A1BG-AS1,A1BG antisense RNA 1,Approved,"NCRNA00181, A1BGAS, A1BG-AS",FLJ23569,19q13.43,BC040926,NR_015380,"RNA, long non-coding",...,NR_015380,NaN,ENSG00000268895,OTTHUMG00000183508,uc002qse.3,NaN,NaN,A1BG-AS1,NaN,HGNC:37133

## Print all columns

In [5]:
for i in hgnc.columns:
    print(i)

HGNC ID
Approved symbol
Approved name
Status
Previous symbols
Alias symbols
Chromosome
Accession numbers
RefSeq IDs
Locus type
Locus group
Previous name
Alias names
Date approved
Date modified
Date symbol changed
Date name changed
Enzyme IDs
NCBI Gene ID
Ensembl gene ID
Mouse genome database ID
Specialist database links
Specialist database IDs
Pubmed IDs
Gene group ID
Gene group name
CCDS IDs
Vega IDs
Locus specific databases
NCBI Gene ID(supplied by NCBI)
OMIM ID(supplied by OMIM)
RefSeq(supplied by NCBI)
UniProt ID(supplied by UniProt)
Ensembl ID(supplied by Ensembl)
Vega ID(supplied by Vega)
UCSC ID(supplied by UCSC)
Mouse genome database ID(supplied by MGI)
Rat genome database ID(supplied by RGD)
LNCipedia ID (supplied by LNCipedia)
GtRNAdb ID (supplied by GtRNAdb)
AGR HGNC ID (supplied by Alliance of Genomic Resources)

## Develop a method to rename the column names
... to "good_column_name"s (lower_case, no blanks, alpha_numeric). Hint: Use the parameter `inplace=True`

In [6]:
# method to rename column names
def rename_columns(col_names:list) -> dict:
    col_mapper = {}
    for i in col_names:
        j = i.replace(' ', '_').lower()
        if '(' in i:
            j = j[ : i.find('(')]
        col_mapper[i] = j
    return col_mapper

In [7]:
cols_mapper = rename_columns(hgnc.columns)
hgnc.rename(columns=cols_mapper, inplace=True)

In [8]:
hgnc.columns

Index(['hgnc_id', 'approved_symbol', 'approved_name', 'status',
       'previous_symbols', 'alias_symbols', 'chromosome', 'accession_numbers',
       'refseq_ids', 'locus_type', 'locus_group', 'previous_name',
       'alias_names', 'date_approved', 'date_modified', 'date_symbol_changed',
       'date_name_changed', 'enzyme_ids', 'ncbi_gene_id', 'ensembl_gene_id',
       'mouse_genome_database_id', 'specialist_database_links',
       'specialist_database_ids', 'pubmed_ids', 'gene_group_id',
       'gene_group_name', 'ccds_ids', 'vega_ids', 'locus_specific_databases',
       'ncbi_gene_id', 'omim_id', 'refseq', 'uniprot_id', 'ensembl_id',
       'vega_id', 'ucsc_id', 'mouse_genome_database_id',
       'rat_genome_database_id', 'lncipedia_id_', 'gtrnadb_id_',
       'agr_hgnc_id_'],
      dtype='object')

## Return ***Approved symbol***s as Series

In [9]:
hgnc['approved_symbol']

0            A1BG
1        A1BG-AS1
2            A1CF
3           A1S9T
4             A2M
           ...
47534      ZYG11B
47535         ZYX
47536       ZYXP1
47537       ZZEF1
47538        ZZZ3
Name: approved_symbol, Length: 47539, dtype: object

## Return ***Approved symbol***s as DataFrame

In [10]:
hgnc[['approved_symbol']]

      approved_symbol
0                A1BG
1            A1BG-AS1
2                A1CF
3               A1S9T
4                 A2M
...               ...
47534          ZYG11B
47535             ZYX
47536           ZYXP1
47537           ZZEF1
47538            ZZZ3

[47539 rows x 1 columns]

## Return all data types in the DataFrame

In [11]:
hgnc.dtypes.unique()

array([dtype('O'), dtype('float64')], dtype=object)

## Select the colum ***Chromosome*** with loc

In [12]:
hgnc.loc[:, 'chromosome']

0        19q13.43
1        19q13.43
2        10q11.23
3             NaN
4        12p13.31
           ...
47534      1p32.3
47535        7q34
47536     8q24.23
47537     17p13.2
47538      1p31.1
Name: chromosome, Length: 47539, dtype: object

## Select the 2nd column in the dataframe with `iloc`

In [13]:
hgnc.iloc[1, :]

hgnc_id                                                             HGNC:37133
approved_symbol                                                       A1BG-AS1
approved_name                                             A1BG antisense RNA 1
status                                                                Approved
previous_symbols                                   NCRNA00181, A1BGAS, A1BG-AS
alias_symbols                                                         FLJ23569
chromosome                                                            19q13.43
accession_numbers                                                     BC040926
refseq_ids                                                           NR_015380
locus_type                                                RNA, long non-coding
locus_group                                                     non-coding RNA
previous_name                non-protein coding RNA 181, "A1BG antisense RN...
alias_names                                                                NaN
date_approved                                                       2009-07-20
date_modified                                                       2013-06-27
date_symbol_changed                                                 2010-11-25
date_name_changed                                                   2012-08-15
enzyme_ids                                                                 NaN
ncbi_gene_id                                                          503538.0
ensembl_gene_id                                                ENSG00000268895
mouse_genome_database_id                                                   NaN
specialist_database_links    <!--,--> <!--,--> <!--,--> <!--,--> <!--,--> <...
specialist_database_ids                     , , , , , , , , , , , , , , , , ,
pubmed_ids                                                                 NaN
gene_group_id                                                             1987
gene_group_name                                                 Antisense RNAs
ccds_ids                                                                   NaN
vega_ids                                                    OTTHUMG00000183508
locus_specific_databases                                                   NaN
ncbi_gene_id                                                          503538.0
omim_id                                                                    NaN
refseq                                                               NR_015380
uniprot_id                                                                 NaN
ensembl_id                                                     ENSG00000268895
vega_id                                                     OTTHUMG00000183508
ucsc_id                                                             uc002qse.3
mouse_genome_database_id                                                   NaN
rat_genome_database_id                                                     NaN
lncipedia_id_                                                         A1BG-AS1
gtrnadb_id_                                                                NaN
agr_hgnc_id_                                                        HGNC:37133
Name: 1, dtype: object

## Count number of rows for each *Status*

In [14]:
hgnc['status'].value_counts()

Approved            42423
Symbol Withdrawn     3353
Entry Withdrawn      1763
Name: status, dtype: int64

## How many rows and columns are in the DataFrame

In [15]:
print('Rows : ', hgnc.shape[0])
print('Columns : ', hgnc.shape[1])

Rows :  47539
Columns :  41

## Return all unique *Gene group names* and how many

In [16]:
hgnc['gene_group_name'].value_counts()

Long intergenic non-protein coding RNAs                         2202
Antisense RNAs                                                  1614
MicroRNAs                                                       1462
Zinc fingers C2H2-type                                           532
Cytoplasmic transfer RNAs                                        428
                                                                ...
MicroRNA protein coding host genes|Spliceosomal B complex          1
IKK complex|I kappa B kinases                                      1
MicroRNA protein coding host genes|I kappa B kinases               1
IKK complex|Zinc fingers C2HC-type                                 1
Myb/SANT domain containing|Zinc fingers ZZ-type|ATAC complex       1
Name: gene_group_name, Length: 3667, dtype: int64

## Count only non-nan values of Gene group names

In [17]:
not_na = hgnc[hgnc['gene_group_name'].isna() == False]
not_na['gene_group_name'].value_counts()

Long intergenic non-protein coding RNAs                         2202
Antisense RNAs                                                  1614
MicroRNAs                                                       1462
Zinc fingers C2H2-type                                           532
Cytoplasmic transfer RNAs                                        428
                                                                ...
MicroRNA protein coding host genes|Spliceosomal B complex          1
IKK complex|I kappa B kinases                                      1
MicroRNA protein coding host genes|I kappa B kinases               1
IKK complex|Zinc fingers C2HC-type                                 1
Myb/SANT domain containing|Zinc fingers ZZ-type|ATAC complex       1
Name: gene_group_name, Length: 3667, dtype: int64

In [30]:
hgnc.gene_group_name.count()

24326

## How many nan are in Gene group names

In [18]:
hgnc['gene_group_name'].isna().sum()

23213

## Fill all rows with missing *Gene group names*  with 'Unknown group name'

In [19]:
hgnc[['gene_group_name']].fillna('unknown_group_name')

                                         gene_group_name
0                  Immunoglobulin like domain containing
1                                         Antisense RNAs
2                           RNA binding motif containing
3                                     unknown_group_name
4      C3 and PZP like, alpha-2-macroglobulin domain ...
...                                                  ...
47534  Armadillo like helical domain containing|ZYG11...
47535    Zyxin family|MicroRNA protein coding host genes
47536                                 unknown_group_name
47537     Zinc fingers ZZ-type|EF-hand domain containing
47538  Myb/SANT domain containing|Zinc fingers ZZ-typ...

[47539 rows x 1 columns]

## Normalize calucation of distributions for the *Status*

In [20]:
status = hgnc['status']
status.value_counts(normalize=True)

Approved            0.892383
Symbol Withdrawn    0.070532
Entry Withdrawn     0.037085
Name: status, dtype: float64

## Create a DataFrame with dict
`{'column_1': ['C','B'], 'column_2': [3,4]}`

In [21]:
df_dict = pd.DataFrame({'column_1': ['C','B'], 'column_2': [3,4]})
df_dict

  column_1  column_2
0        C         3
1        B         4

## Create a DataFrame with tuple and give the column name X, Y
tuple:
`(('A',2),('B',2))`

In [22]:
df_tuple = pd.DataFrame((('A',2),('B',2)), columns=['X', 'Y'])
df_tuple

   X  Y
0  A  2
1  B  2

## What is the 
... count, minimum, maximum, mean and standard deviation of column g3_g1.p-value in this experiment
```python
df_experiment = pd.read_csv("../../data/experiments/dea/example_dea.tsv", sep="\t")
```

In [23]:
path2 = 'C:\\Users\\kriti\\Desktop\\BioDB\\biodb-2022-teaching\\data\\experiments\\dea\\example_dea.tsv'

df_experiment = pd.read_csv(path2, sep='\t')
df_experiment

,Gene ID,Gene Name,Design Element,g3_g1.p-value,g3_g1.t-statistic,g3_g1.log2foldchange,g3_g2.p-value,g3_g2.t-statistic,g3_g2.log2foldchange,g3_g4.p-value,g3_g4.t-statistic,g3_g4.log2foldchange
0,ENSG00000000003,TSPAN6,209108_at,0.729957,0.550277,0.2,0.394262,1.185729,0.4,0.441349,-1.186827,-0.3
1,ENSG00000000005,TNMD,220065_at,NaN,-0.946853,-0.1,NaN,0.006282,0.0,NaN,0.258101,0.0
2,ENSG00000000419,DPM1,202673_at,NaN,-2.337928,-0.4,0.005333,-4.040878,-0.6,0.024244,-3.845430,-0.8
3,ENSG00000000457,SCYL3,205607_s_at,NaN,-2.757187,-0.3,0.013993,-3.444171,-0.4,NaN,-1.650670,-0.2
4,ENSG00000000460,C1orf112,220840_s_at,NaN,0.089228,0.0,0.592806,-0.777527,-0.1,NaN,-1.037668,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
21062,ENSG00000288253,AC010332.3,1562244_at,NaN,-0.127733,0.0,NaN,0.918074,0.1,NaN,-0.006814,0.0
21063,ENSG00000288530,AC078860.3,241266_at,NaN,0.318184,0.0,NaN,0.172265,0.0,NaN,0.215685,0.0
21064,ENSG00000288537,AL162391.2,1569782_at,NaN,0.480666,0.1,0.809053,0.371871,0.0,NaN,0.020600,0.0
21065,ENSG00000288569,AC008394.1,217342_x_at,NaN,1.573593,0.2,0.008331,3.764974,0.3,NaN,1.492076,0.2
21066,ENSG00000288573,AL357079.3,240352_at,NaN,-0.265815,0.0,0.525029,0.908211,0.1,NaN,0.404370,0.1

In [24]:
pvals = df_experiment['g3_g1.p-value']

pvals.value_counts()

0.018732    46
0.031317    25
0.036288    23
0.030643    23
0.187188    19
            ..
0.689696     1
0.632511     1
0.078235     1
0.389095     1
0.066790     1
Name: g3_g1.p-value, Length: 3797, dtype: int64

In [25]:
print('Count : ' , len(pvals))
print('Minimum : ' , pvals.min())
print('Maximum : ' , pvals.max())
print('Mean : ' , pvals.mean())
print('Standard deviation : ' , pvals.std())

Count :  21067
Minimum :  0.0166046245575536
Maximum :  0.999834242774973
Mean :  0.4020743660499203
Standard deviation :  0.2920741615674967

##  Add 0.1 to column *g3_g4.log2foldchange* of the experiment

In [26]:
fold_change = df_experiment['g3_g4.log2foldchange']
fold_change + 0.1

0       -0.2
1        0.1
2       -0.7
3       -0.1
4        0.0
        ...
21062    0.1
21063    0.1
21064    0.1
21065    0.3
21066    0.2
Name: g3_g4.log2foldchange, Length: 21067, dtype: float64

## Calculate the mean of column *g3_g1.p-value* for *Gene Name* = 'SGK3' in the experiment
Tip:
1. Set *Gene Name* column as index
2. use loc to select the correct index and column
3. use the mean method

In [27]:
gene_name = df_experiment[['g3_g1.p-value', 'Gene Name']]
gene_name = gene_name.set_index('Gene Name')

print('Mean : ', gene_name.loc['SGK3'].mean())

Mean :  g3_g1.p-value    0.450183
dtype: float64

## Creating a new column *new_col* in the experiment and set all values to 1

In [28]:
df_experiment['new_col'] = 1
df_experiment

,Gene ID,Gene Name,Design Element,g3_g1.p-value,g3_g1.t-statistic,g3_g1.log2foldchange,g3_g2.p-value,g3_g2.t-statistic,g3_g2.log2foldchange,g3_g4.p-value,g3_g4.t-statistic,g3_g4.log2foldchange,new_col
0,ENSG00000000003,TSPAN6,209108_at,0.729957,0.550277,0.2,0.394262,1.185729,0.4,0.441349,-1.186827,-0.3,1
1,ENSG00000000005,TNMD,220065_at,NaN,-0.946853,-0.1,NaN,0.006282,0.0,NaN,0.258101,0.0,1
2,ENSG00000000419,DPM1,202673_at,NaN,-2.337928,-0.4,0.005333,-4.040878,-0.6,0.024244,-3.845430,-0.8,1
3,ENSG00000000457,SCYL3,205607_s_at,NaN,-2.757187,-0.3,0.013993,-3.444171,-0.4,NaN,-1.650670,-0.2,1
4,ENSG00000000460,C1orf112,220840_s_at,NaN,0.089228,0.0,0.592806,-0.777527,-0.1,NaN,-1.037668,-0.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21062,ENSG00000288253,AC010332.3,1562244_at,NaN,-0.127733,0.0,NaN,0.918074,0.1,NaN,-0.006814,0.0,1
21063,ENSG00000288530,AC078860.3,241266_at,NaN,0.318184,0.0,NaN,0.172265,0.0,NaN,0.215685,0.0,1
21064,ENSG00000288537,AL162391.2,1569782_at,NaN,0.480666,0.1,0.809053,0.371871,0.0,NaN,0.020600,0.0,1
21065,ENSG00000288569,AC008394.1,217342_x_at,NaN,1.573593,0.2,0.008331,3.764974,0.3,NaN,1.492076,0.2,1
21066,ENSG00000288573,AL357079.3,240352_at,NaN,-0.265815,0.0,0.525029,0.908211,0.1,NaN,0.404370,0.1,1

## Deleting the new column *new_col* in the experiment

In [29]:
drop = df_experiment.drop(columns=['new_col'])
drop

,Gene ID,Gene Name,Design Element,g3_g1.p-value,g3_g1.t-statistic,g3_g1.log2foldchange,g3_g2.p-value,g3_g2.t-statistic,g3_g2.log2foldchange,g3_g4.p-value,g3_g4.t-statistic,g3_g4.log2foldchange
0,ENSG00000000003,TSPAN6,209108_at,0.729957,0.550277,0.2,0.394262,1.185729,0.4,0.441349,-1.186827,-0.3
1,ENSG00000000005,TNMD,220065_at,NaN,-0.946853,-0.1,NaN,0.006282,0.0,NaN,0.258101,0.0
2,ENSG00000000419,DPM1,202673_at,NaN,-2.337928,-0.4,0.005333,-4.040878,-0.6,0.024244,-3.845430,-0.8
3,ENSG00000000457,SCYL3,205607_s_at,NaN,-2.757187,-0.3,0.013993,-3.444171,-0.4,NaN,-1.650670,-0.2
4,ENSG00000000460,C1orf112,220840_s_at,NaN,0.089228,0.0,0.592806,-0.777527,-0.1,NaN,-1.037668,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
21062,ENSG00000288253,AC010332.3,1562244_at,NaN,-0.127733,0.0,NaN,0.918074,0.1,NaN,-0.006814,0.0
21063,ENSG00000288530,AC078860.3,241266_at,NaN,0.318184,0.0,NaN,0.172265,0.0,NaN,0.215685,0.0
21064,ENSG00000288537,AL162391.2,1569782_at,NaN,0.480666,0.1,0.809053,0.371871,0.0,NaN,0.020600,0.0
21065,ENSG00000288569,AC008394.1,217342_x_at,NaN,1.573593,0.2,0.008331,3.764974,0.3,NaN,1.492076,0.2
21066,ENSG00000288573,AL357079.3,240352_at,NaN,-0.265815,0.0,0.525029,0.908211,0.1,NaN,0.404370,0.1

### End of Task