# Homeworh 5 - part 1

## Create chebi database

# Download database files

- Download [ChEBI SQL file](http://ftp.ebi.ac.uk/pub/databases/chebi/generic_dumps/mysql_create_tables.sql)
- Download the ***3star*** version form [here](http://ftp.ebi.ac.uk/pub/databases/chebi/Flat_file_tab_delimited/) except references and structures:
    1. chemical_data
    2. comments
    3. compound_origins
    4. compounds
    5. database_accession
    6. names
    7. relation

# Create and populate database

## Create database, user and assign rights

- Create a new database *chebi* with root
- Create new user *chebi_user* (password: *chebi_password*) with root. Don't forget to flush;

```sql
CREATE DATABASE chebi;
SHOW DATABASES like 'chebi';
CREATE USER IF NOT EXISTS 'chebi_user'@'localhost' IDENTIFIED BY 'chebi_password';
SELECT User FROM mysql.user WHERE User LIKE 'chebi_user';
GRANT ALL ON `chebi`.* TO 'chebi_user'@'localhost';
FLUSH PRIVILEGES;
```

- create database structure
```bash
mysql -u chebi_user -pchebi_password chebi < mysql_create_tables.sql
```

## Populate database

- import data with pandas `to_sql` function (important in which order!)

#### Create SQLAlchemy engine for the **chebi** database

In [15]:
from sqlalchemy import create_engine
import pandas as pd

In [16]:
path = "C:\\Users\\kriti\\Desktop\\BioDB\\2-kriti\\Homework\\Day_5\\chebi\\"
engine = create_engine('mysql+pymysql://chebi_user:chebi_password@localhost/chebi')

#### Insert the data from the csv files with pandas. Tipp: set the primary key (see table definition) as index in the DataFrame. Don't replace the already existing tables.

#### preprocess tsv files
- check null values (fill if not null column) - see .sql file
- change column position to align with the sql columns - see .sql file
- check column names (align with sql file)

##### Componds

In [26]:
# Load file
compounds = pd.read_csv(path+'compounds_3star.tsv.gz', sep='\t', index_col='ID', low_memory=False)

# align columns with database tables
compounds = compounds[['NAME', 'SOURCE', 'PARENT_ID', 'CHEBI_ACCESSION', 'STATUS', 
                       'DEFINITION', 'STAR', 'MODIFIED_ON', 'CREATED_BY']]
compounds.head(5)

,NAME,SOURCE,PARENT_ID,CHEBI_ACCESSION,STATUS,DEFINITION,STAR,MODIFIED_ON,CREATED_BY
ID,,,,,,,,,
9355,sulfuretin,KEGG COMPOUND,NaN,CHEBI:9355,C,NaN,3,2014-07-28,CHEBI
9380,syringin,KEGG COMPOUND,NaN,CHEBI:9380,C,A monosaccharide derivative that is trans-sina...,3,2018-10-08,CHEBI
9427,2-methylanthraquinone,KEGG COMPOUND,NaN,CHEBI:9427,C,"An anthraquinone that is 9,10-anthraquinone in...",3,2014-07-28,CHEBI
9437,temoporfin,KEGG COMPOUND,NaN,CHEBI:9437,C,NaN,3,2017-02-22,CHEBI
9457,terpinolene,KEGG COMPOUND,NaN,CHEBI:9457,C,A p-menthadiene with double bonds at positions...,3,2015-10-23,CHEBI

In [28]:
# Insert data in sql tables
print('Rows X Columns : ',compounds.shape, '\nRows added:')
compounds.to_sql('compounds', engine, if_exists='append')

Rows X Columns :  (77678, 9)
Rows added:

77678

##### Chemical data

In [30]:
# Load file
chemical_data = pd.read_csv(path+'chemical_data_3star.tsv', sep='\t', index_col='ID')

# Fill null values in table
chemical_data.fillna(value={'CHEMICAL_DATA' : 'None'}, inplace=True)

# align columns with database tables
chemical_data = chemical_data[['COMPOUND_ID', 'CHEMICAL_DATA', 'SOURCE', 'TYPE']]
chemical_data.head()

    COMPOUND_ID CHEMICAL_DATA         SOURCE     TYPE
ID
1         18357      C8H11NO3  KEGG COMPOUND  FORMULA
3         28234      C13H12O2  KEGG COMPOUND  FORMULA
4         15399       C10H14O  KEGG COMPOUND  FORMULA
6             7        C10H16  KEGG COMPOUND  FORMULA
7             8       C15H22O  KEGG COMPOUND  FORMULA

In [31]:
# Insert data in sql tables
print('Rows X Columns : ',chemical_data.shape, '\nRows added:')
chemical_data.to_sql('chemical_data', engine, if_exists='append')

Rows X Columns :  (206816, 4)
Rows added:

206816

##### Comments

In [32]:
# Load file
comments = pd.read_csv(path+'comments_3star.tsv', sep='\t', index_col='ID')

# align columns with database tables
comments = comments[['COMPOUND_ID', 'TEXT', 'CREATED_ON', 'DATATYPE', 'DATATYPE_ID']]
comments.head()

,COMPOUND_ID,TEXT,CREATED_ON,DATATYPE,DATATYPE_ID
ID,,,,,
8,15561,"Name encompasses both (1R,2S) and (1S,2R) isom...",2007-04-24,General,12789
12,15576,"8,25-dien name wrong in IUBMB list (now correc...",2003-12-23,CompoundName,264
14,15635,The natural product is the 6S stereoisomer.,2004-01-09,General,15635
15,15636,The naturally occurring compound is the 6R ste...,2004-01-09,General,15636
16,15638,The naturally occurring compound is the tetrah...,2004-01-09,General,15638

In [33]:
# Insert data in sql tables
print('Rows X Columns : ',comments.shape, '\nRows added:')
comments.to_sql('comments', engine, if_exists='append')

Rows X Columns :  (2319, 5)
Rows added:

2319

##### Compound origins

In [44]:
# Load file
compound_origins = pd.read_csv(path+'compound_origins_3star.tsv', sep='\t', encoding= 'unicode_escape')
compound_origins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17541 entries, 1 to 119898
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               17541 non-null  int64
 1   STATUS           17541 non-null  object
 2   CHEBI_ACCESSION  17506 non-null  object
 3   SOURCE           5143 non-null   object
 4   PARENT_ID        5088 non-null   object
 5   NAME             982 non-null    object
 6   DEFINITION       0 non-null      float64
 7   MODIFIED_ON      17541 non-null  object
 8   CREATED_BY       17541 non-null  object
 9   STAR             4547 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.5+ MB

The column 'DEFINATION' does not contain any non-null value. Hence, the column is droped to correspond the number of rows in the database.

In [45]:
# The column 'DEFINITION' does not contain any non-null value.
# Hence, the column is droped to correspond the number of rows in the database.
compound_origins.drop(columns='DEFINITION', inplace=True)
compound_origins.columns = ['compound_id', 'species_text', 'species_accession', 'component_text',
                            'component_accession', 'strain_text', 'source_type', 'source_accession', 'comments']
compound_origins.rename_axis(index='id', inplace=True)
compound_origins.head()

,compound_id,species_text,species_accession,component_text,component_accession,strain_text,source_type,source_accession,comments
id,,,,,,,,,
1,65354,Abacopteris penangiana,IPNI:17367310-1,rhizome,BTO:0001181,NaN,PubMed Id,16499328,NaN
2,65355,Abacopteris penangiana,IPNI:17367310-1,rhizome,BTO:0001181,NaN,PubMed Id,16499328,NaN
3,65356,Abacopteris penangiana,IPNI:17367310-1,rhizome,BTO:0001181,NaN,PubMed Id,16499328,NaN
4,65357,Abacopteris penangiana,IPNI:17367310-1,rhizome,BTO:0001181,NaN,PubMed Id,16499328,NaN
5,65358,Erythrina abyssinica,NCBI:txid1237573,stem,BTO:0001300,NaN,PubMed Id,18484536,Previous component: stem bark;

In [36]:
# Insert data in sql tables
print('Rows X Columns : ',compound_origins.shape, '\nRows added:')
compound_origins.to_sql('compound_origins', engine, if_exists='append')

Rows X Columns :  (17541, 9)
Rows added:

17541

##### Datbase accesssion

In [37]:
# Load file
database_accession = pd.read_csv(path+'database_accession_3star.tsv', sep='\t', index_col='ID')

# Fill null values in table
database_accession.fillna(value={'ACCESSION_NUMBER' : 'None'}, inplace=True)

# align columns with database tables
database_accession = database_accession[['COMPOUND_ID', 'ACCESSION_NUMBER', 'TYPE', 'SOURCE']]
database_accession.head()

       COMPOUND_ID ACCESSION_NUMBER                     TYPE         SOURCE
ID
15233        27531           C06095  KEGG COMPOUND accession  KEGG COMPOUND
15256        67986           C08945  KEGG COMPOUND accession  KEGG COMPOUND
15257        67986       52286-58-5      CAS Registry Number  KEGG COMPOUND
15296         5381           C09753  KEGG COMPOUND accession  KEGG COMPOUND
15297         5381       87440-56-0      CAS Registry Number  KEGG COMPOUND

In [38]:
# Insert data in sql tables
print('Rows X Columns : ',database_accession.shape, '\nRows added:')
database_accession.to_sql('database_accession', engine, if_exists='append')

Rows X Columns :  (211372, 4)
Rows added:

211372

##### Names

In [39]:
# Load file
names = pd.read_csv(path+'names_3star.tsv.gz', sep='\t', index_col='ID')

# Fill null values in table
names.fillna(value={'NAME' : 'None'}, inplace=True)

# align columns with database tables
names = names[['COMPOUND_ID', 'NAME', 'TYPE', 'SOURCE', 'ADAPTED', 'LANGUAGE']]
names.head()

,COMPOUND_ID,NAME,TYPE,SOURCE,ADAPTED,LANGUAGE
ID,,,,,,
2,18357,Noradrenaline,SYNONYM,KEGG COMPOUND,F,en
3,18357,L-Noradrenaline,SYNONYM,KEGG COMPOUND,F,en
4,18357,Norepinephrine,SYNONYM,KEGG COMPOUND,F,en
5,18357,Arterenol,SYNONYM,KEGG COMPOUND,F,en
9,28234,"(+)-(3S,4R)-cis-3,4-Dihydroxy-3,4-dihydrofluorene",SYNONYM,KEGG COMPOUND,F,en

In [40]:
# Insert data in sql tables
print('Rows X Columns : ',names.shape, '\nRows added:')
names.to_sql('names', engine, if_exists='append')

Rows X Columns :  (239565, 6)
Rows added:

239565

##### Relation

In [41]:
# Load file
relation = pd.read_csv(path+'relation_3star.tsv', sep='\t', index_col='ID')
relation.head()

    TYPE  INIT_ID  FINAL_ID STATUS
ID
3   is_a    24431     23367      C
18  is_a    23855     22663      E
19  is_a    23855     23315      E
20  is_a    23855     23514      C
22  is_a    23855     24322      E

In [42]:
# Insert data in sql tables
print('Rows X Columns : ',relation.shape, '\nRows added:')
relation.to_sql('relation', engine, if_exists='append')

Rows X Columns :  (189045, 4)
Rows added:

189045

## Part 2 done in file 'Homework5_part2'

7. Use the [ER model](http://ftp.ebi.ac.uk/pub/databases/chebi/DataModel.png) and [SQL database model](http://ftp.ebi.ac.uk/pub/databases/chebi/generic_dumps/mysql_create_tables.sql) to create your SQLAlchemy

8. Design [ChEBI](https://www.ebi.ac.uk/chebi/) database as SQLALchemy model

9. Create same example queries with SQLAlchemy like in the exercises.